.HomePage {
  h1 {
    margin-bottom: 32px;
  }

  article {
    border: 1px solid black;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      padding: 18px;

      h2 {
        margin-top: 0;
        margin-bottom: 4px;
      }

      span {
        display: block;
        margin-bottom: 12px;
      }

      p {
        margin: 0;
        margin-bottom: 18px;
      }

      a {
        color: white;
        text-align: center;
        font-weight: bold;
        background-color: #217c44;
        text-decoration: none;
        border-radius: 12px;
        padding: 12px;
        max-width: 30%;
        transition: all 0.3s;
      }

      &:hover {
        a {
          transform: translateY(2px);
          opacity: 0.75;
        }
      }
    }
  }
}
