.PostPage {
  img {
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid black;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  a {
    display: block;
    padding: 8px;
    color: black;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  
    a {
      display: inline-block;
      padding: 8px;
      color: black;
    }
  
    button {
      background: transparent;
      box-shadow: none;
      border: none;
      color: black;
    }
  }
}
